<div id="summary">
  <h2 class="pageTitle">Summary</h2>
  <div class="row">
    <div style="clear: both;" class="col-sm-4">
      <div id="overall" class="panel panel-default">
        <div class="panel-heading">Total Automatic Stats</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge"><%= @trips.total_miles_driven.round %></span> Miles Driven
            </li>
            <li class="list-group-item">
              <span class="badge"><%= Time.at(@trips.total_seconds_driven).utc.strftime("%H h %M min") %></span> Duration
            </li>
            <li class="list-group-item">
              <span class="badge"><%= to_duration(@trips.total_seconds_driven) %></span> Duration
            </li>
            <li class="list-group-item">
              <span class="badge"><%= @trips.count %></span> Trip Count
            </li>
            <li class="list-group-item">
              <span class="badge"><%= "%.1f" % [@trips.average_mpg] %></span> Average MPG
            </li>
            <li class="list-group-item">
              <span class="badge"><%= "%.1f" % [@trips.total_fuel_gallons] %></span> Gallons of Fuel
            </li>
            <li class="list-group-item">
              <span class="badge"><%= "$%.2f" % [@trips.total_fuel_cost] %></span> Fuel Cost
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div id="graphs" class="panel panel-default">
        <div class="panel-heading">Weekly Driving</div>
        <div class="panel-body">
          <div class="btn-group graph-buttons">
            <button type="button" data-graph-type="distance" class="btn btn-default active">Distance</button>
            <button type="button" data-graph-type="duration_s" class="btn btn-default">Duration</button>
            <button type="button" data-graph-type="trip_count" class="btn btn-default">Trips</button>
            <button type="button" data-graph-type="fuel_cost_usd" class="btn btn-default">Fuel Cost</button>
            <button type="button" data-graph-type="fuel_volume_usgal" class="btn btn-default">Fuel Volume</button>
          </div>
          <div class="graph"></div>
        </div>
      </div>
    </div>
  </div>
</div>
