<h2 class="pageTitle">Vehicles</h2>
<div id="vehicles">
  <% if @vehicles.any? %>
    <% @vehicles.each do |vehicle| %>
    <div id="<%= vehicle.id %>" class="vehicle">
    <div class="vehicleDetails">
      <div class="display_name"><%= vehicle.display_name %></div>
      <div class="details"><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></div>
    </div>

    <div style="background-color: <%= vehicle.color %>;" class="color"></div>

    <div class="vehicleStats">
      <div class="distance"><span class="badge"><%= vehicle.miles_driven %></span> Miles Driven</div>
      <div class="fuel_volume_usgal"><span class="badge"><%= ("%.1f" % [vehicle.fuel_gallons]) %></span> Gallons of Fuel</div>
      <div class="duration"><span class="badge"><%= vehicle.minutes_driven.round %></span> Minutes Driven</div>
      <div class="fuel_cost_usd"><span class="badge"><%= ("$%.2f" % [vehicle.fuel_cost]) %></span> Fuel Cost</div>
      <div class="trip_count"><%= vehicle.trips_count %> Trips</div>
    </div>
  </div>
<% end %>
<% end %>
</div>
