<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TripViewer: View and Export your Automatic Trips</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="View and Export your Automatic Trips">
    <%= stylesheet_link_tag 'application', media: 'screen' %>
    <%= csrf_meta_tag %>
    <%= tag('meta', name: 'x-mapbox-token', content: ENV['MAPBOX_ACCESS_TOKEN']) %>
  </head>

  <body>
   <%= render partial: 'layouts/fork' %>

    <div class="mainHeader">
      <div class="wrapper">
        <a href="http://automatic.com" class="logo"></a>
        <div class="titlebar">
          <h1>TripViewer</h1>
          <div class="tagline">View and Export your Automatic Trips</div>
        </div>

        <%= render partial: 'layouts/header_navigation' %>
      </div>
    </div>

    <div class="wrapper content">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
